package @package@;

public class Information {
	public static final String name = "@name@";
	public static final String buildTime = "@buildTime@";
	public static final String pomVersion = "@pomVersion@";
}
